<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234227811575-e7u3elrbue9m1um705gl5t42832j3l15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234227811575-e7u3elrbue9m1um705gl5t42832j3l15</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ1881PXrsqj4Igsj6IgUBKlQV2zEya30</string>
	<key>GCM_SENDER_ID</key>
	<string>234227811575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cami.Tutu</string>
	<key>PROJECT_ID</key>
	<string>tutu-auth</string>
	<key>STORAGE_BUCKET</key>
	<string>tutu-auth.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234227811575:ios:99b8145a550cc38ea93ff2</string>
</dict>
</plist>